hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width:10px;
  width: 5%;
  }
  body{
    Background-color:#EAF6F6;
  }
  h3{
    color: #66BFBF;
    font-family: sans-serif;
  }
  h1{
    color:#F76B8A;
    font-family: sans-serif;
  }
  th{
    color: #66BFBF;
    font-family: sans-serif;
  }
